<section>  
<!--Footer-->
<footer class="page-footer mdb-color text-center text-md-left pt-4 light-blue lighten-4">
  <!--Footer Links-->
  <div class="container">
      <div class="row">
          <!--First column-->
          <div class="col-md-3 offset-md-1">
              <h5 class="title">Contact me</h5>
              <address>
                Send Me a Message <a href="mailto:webmaster@example.com">Taleb Mosyri</a>.<br>
                Call Me: +46738058170.<br> 
                Ekholmsvägen 305<br>
                Stockholm, Sweden<br>
                </address>
          </div>
          <!--/.First column-->
          <hr class="hidden-md-up">
          <!--Second column-->
          <div class="col-md-2 offset-md-1">
              <h5 class="title">Bage Features</h5>
              <ul class="list-unstyled">
                  <li>
                      <a routerLink="/home">HOME</a>
                  </li>
                  <li>
                      <a routerLink="/about-me">ABOUT ME</a>
                  </li>
                  <li>
                      <a routerLink="/portfolio">PORTFOLIO</a>
                  </li>
                  <li>
                      <a routerLink="/contact-me">CONTACT ME</a>
                  </li>
              </ul>
          </div>
          <!--/.Second column-->
          <hr class="hidden-md-up">
          <!--Third column-->
          <!-- <div class="col-md-2">
              <h5 class="title">Code of Ethics</h5>
              <ul class="list-unstyled">
                  <li>
                      <a href="#!">ACM</a>
                  </li>
                  <li>
                      <a href="#!">IEEE</a>
                  </li>
                  <li>
                      <a href="#!">ISACA</a>
                  </li>
              </ul>
          </div> -->
          <!--/.Third column-->
          <hr class="hidden-md-up">
          <!--Fourth column-->
          <!-- <div class="col-md-2">
              <h5 class="title">Education</h5>
              <ul class="list-unstyled">
                  <li>
                      <a href="#!">Lexicon University(Diploma Computer Programming)</a>
                  </li>
                  <li>
                      <a href="#!">NTI-skolan(Diploma, Swedish Language and Literature)</a>
                  </li>
                  <li>
                      <a href="#!">Dimokritus Panepistimion Thrakis(Diploma Electrical & Computer Engineering, MEng Electronic Enginnering)</a>
                  </li>
                  <li>
                      <a href="#!">Ethnikon kai Kapodistriakon Panepistimion Athinon(Diploma, Modern Greek Language and Literature)</a>
                  </li>
                  <li>
                    <a href="#!">Aleppo University(Bachelor's degree, Statistics & Information System)</a>
                </li>


                  <li>
                      <a href="#!">Link 4</a>
                  </li>
              </ul>
          </div> -->
          <!--/.Fourth column-->
      </div>
  </div>
  <!--/.Footer Links-->
  <hr>
  <!--Social buttons-->
  <div class="text-center mb-3">
      <a class="btn-floating btn-small btn-fb waves-light animated bounce" mdbWavesEffect href="https://www.facebook.com/taleb.Mosyri" target="_blank"><i class="fa fa-facebook"> </i></a>&nbsp;
      <a class="btn-floating btn-small btn-li waves-light animated bounce" mdbWavesEffect href="https://se.linkedin.com/in/moustafa-taleb-1b3b15aa" target="_blank"><i class="fa fa-linkedin"> </i></a>&nbsp;
      <a class="btn-floating btn-small btn-git waves-light animated bounce" mdbWavesEffect href="https://github.com/Taleb01" target="_blank"><i class="fa fa-github"></i></a>&nbsp;
      <a class="btn-floating btn-small btn-ins waves-light animated bounce" mdbWavesEffect href="https://www.instagram.com/mosyri/" target="_blank"><i class="fa fa-instagram"></i></a>&nbsp;
      <a class="btn-floating btn-small btn-ins waves-light animated bounce" mdbWavesEffect href="https://www.pinterest.com/mosyri/" target="_blank"><i class="fa fa-pinterest"> </i></a>&nbsp;
      
  </div>
  <!--/.Social buttons-->
  <!--Copyright-->
  <div class="footer-copyright text-center py-3">
      <div class="container-fluid">
        @2018 Taleb Moustafa. All rights reseved
      </div>
  </div>
  <!--/.Copyright-->
</footer>
<!--/.Footer-->
</section>



