<section class="padding">
  <div class="container">
      <div class="row">
          <div class="col-sm-3 animated zoomIn">
              <img src="./assets/Images/portraite/profilepicture.png" class="img-fluid rounded-circle z-depth-2 animated bounceIn" alt="">
          </div>
          <div class="col-sm-9 animated lightSpeedIn">
            <article>
              <header><h1>Summary:</h1></header>
              <p>I am an experienced Software engineer with well-developed skills and experience in different areas at the field and have worked as software engineer 
                for more then 7+ years in Syria, Greece and Sweden. I am also a skilled Electronic engineer, and have good understanding of 
                system design and system analy. My strong area is with ASP .Net MVC.
              </p>
            </article>
          </div>
      </div>
  </div>
</section>

<section class="padding">
  <div class="container">
    <div class="row animated slideInRight">
      <div class="col-md-4 col-xs-12">
          <article>
              <header>
                <h3>Skills:</h3>
                <dl>
                  <dt>Programming language:</dt>
                  <dd>C#, JavaScript, TypeScript, C, Python.</dd>
      
                  <dt>Marking Language:</dt>
                  <dd>HTML5, XML, JSON, CSS3, SASS.</dd>
      
                  <dt>Frontend framework:</dt>
                  <dd>Bootstrap, jQuery, AngularJs, Angular2, Angular5.</dd>
      
                  <dt>ServerSide:</dt>
                  <dd>ASP.NET, MVC.</dd>
      
                  <dt>Database:</dt>
                  <dd>MS SQL, Sqlite.</dd>
      
                  <dt>Tools:</dt>
                  <dd>VisualStudio, VisualStudio Code, Atom, Brackets, Jira, MS Office, Bitbucket.</dd>
      
                  <dt>Version Control:</dt>
                  <dd>GIT, GitHub.</dd>
      
                  <dt>CMS:</dt>
                  <dd>WordPress, Joomla.</dd>
      
                  <dt>OperationSystem:</dt>
                  <dd>Windows, Unix/Linux, OX S, WindowsServer</dd>
      
                  <dt>Project methods:</dt>
                  <dd>Scrum, Agile.</dd>
                </dl>
              </header>
            </article>
      </div>

      <div class="col-md-4 col-xs-12">
          <article>
            <header>
              <h3>Languages:</h3>
              <dl>
                <dt>Swedish</dt>
                <dd>Full professional proficiency</dd>
                <dt>English</dt>
                <dd>Full professional proficiency</dd>
                <dt>Greek</dt>
                <dd>Native or bilingual proficiency</dd>
                <dt>Arabic</dt>
                <dd>Native or bilingual proficiency</dd>
              </dl>
            </header>
          </article>
        </div>

      <div class="col-md-4 col-xs-12">
        <article>
          <header>
            <h3>Other Interests:</h3>
            <dl>
              <dt>Biking</dt>
              <dd></dd>
              <dt>Photographing</dt>
              <dd></dd>
              <dt>Reading</dt>
              <dd></dd>
              <dt>Dancing</dt>
              <dd></dd>
            </dl>
          </header>
        </article>
      </div>
    </div>
    <!-- <div class="col-md-12 text-center animated zoomIn">
    <div style="display: block">
      <canvas mdbChart 
      [chartType]="chartType"
      [datasets]="chartDatasets" 
      [labels]="chartLabels"
      [colors]="chartColors"
      [options]="chartOptions"
      [legend]="true"
      (chartHover)="chartHovered($event)" 
      (chartClick)="chartClicked($event)">
    </canvas>
  </div>
</div> -->
</div>
</section>