<section class="padding">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="https://compentus.se/" target="_blank">
          <div class="view zoom">
              <img src="./assets/Images/companies/compentus-facebook-banner.jpg" class="img-fluid " alt="compentus">
          </div>
        </a>
      </div>

      <div class="col-md-3">
        <a href="https://www.lexicon.se/IT-proffs/IT-Proffs/Oversikt/" target="_blank">
          <div class="view zoom">
              <img src="./assets/Images/companies/lexicon-header.jpg" class="img-fluid " alt="lexicon">
          </div>
        </a>
      </div>

      <div class="col-md-3">
        <a href="http://www2.hm.com/sv_se/index.html" target="_blank">
          <div class="view zoom">
              <img src="./assets/Images/companies/hm.jpg" class="img-fluid " alt="h&m">
          </div>
        </a>
      </div>
      <div class="col-md-3">
        <a href="https://www.digitalstrategi.se/" target="_blank">
          <div class="view zoom">
              <img src="./assets/Images/companies/logo_primar_retina.png" class="img-fluid " alt="digital strategi">
          </div>
        </a>
      </div>
      
    </div>
<br>

    <div class="row">
      <div class="col-md-3">
        <a href="https://www.morethanthemes.com/" target="_blank">
          <div class="view zoom">
              <img src="./assets/Images/companies/mtt_logo_alt.jpg" class="img-fluid " alt="more than themes">
          </div>
        </a>
      </div>

      <div class="col-md-3">
        <a href="http://www.palaiapolis.gr" target="_blank">
          <div class="view zoom">
              <img src="./assets/Images/companies/logo.png" class="img-fluid " alt="palaiapolis">
          </div>
        </a>
      </div>

      <div class="col-md-3">
        <a href="https://www.henkel.se/" target="_blank">
          <div class="view zoom">
              <img src="./assets/Images/companies/download.jpg" class="img-fluid " alt="henkel">
          </div>
        </a>
      </div>

      <div class="col-md-3">
        <a href="http://www.alepuniv.edu.sy/university/university-aleppo?language=en" target="_blank">
          <div class="view zoom">
              <img src="./assets/Images/companies/aleppo.jpg" class="img-fluid " alt="aleppo university">
          </div>
        </a>
      </div>
    </div>

    <div class="row">
        <div class="col-md-3">
          <a href="https://www.nti.se/" target="_blank">
            <div class="view zoom">
                <img src="./assets/Images/companies/nti-logotype.png" class="img-fluid " alt="nti skolan">
            </div>
          </a>
        </div>
  
        <div class="col-md-3">
          <a href="http://www.athens.edu/" target="_blank">
            <div class="view zoom">
                <img src="./assets/Images/companies/logo_national_and_kapodistrian_uni_athene.jpg" class="img-fluid " alt="athens university">
            </div>
          </a>
        </div>
  
        <div class="col-md-3">
          <a href="http://www.ee.duth.gr/en/" target="_blank">
            <div class="view zoom">
                <img src="./assets/Images/companies/democritus.png" class="img-fluid " alt="dimocritus university">
            </div>
          </a>
        </div>
  
        <div class="col-md-3">
          <a>
            <div class="view zoom">
                <img src="" class="img-fluid " alt="">
            </div>
          </a>
        </div>
      </div>
  </div>
</section>












<section>
  <div class="container">
    
<!--Section: Team v.1-->
<section class="team-section pb-5">

  <!--Section heading-->
  <h2 class="h1 text-center py-5">My Network</h2>
  <!--Section description-->
  <p class="grey-text pb-5 text-center">
    Read what my friends say about me.
  </p>

  <!-- Grid row -->
  <div class="row text-center">

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-4">
          <div class="card card-body">
              <div class="avatar mx-auto my-3">
                  <img src="./assets/Images/portraite/marie_nilsson.jpg" class="rounded-circle img-fluid" alt="First sample avatar image">
              </div>
              <h5 class="font-weight-bold">
                  <strong>Marie Nilsson</strong>
              </h5>
              <p class="grey-text">UX/UI Designer
              </p>
              <p>Taleb har lätt för att samarbeta och har varit mycket hjälpsam i designprocesser 
                  för att stötta mig med tekniska designbeslut. Han har varit lösningsorienterad i 
                  de projekt vi samarbetat i och har gjort mina designidéer till verklighet.</p>

              <ul class="list-unstyled">
                  <!--LinkedIn-->
                  <a class="icons-sm lins-ic" href="https://www.linkedin.com/in/marie-n/">
                      <i class="fa fa-linkedin-square blue-text"></i>
                  </a>
                  <!--portraite-->
                  <a class="icons-sm lins-ic" href="http://marien.se/">
                        <i class="fa fa-address-book-o blue-text"></i>
                  </a>
              </ul>
          </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-4">
          <div class="card card-body">
              <div class="avatar mx-auto my-3">
                  <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(3).jpg" class="rounded-circle img-fluid" alt="First sample avatar image">
              </div>
              <h5 class="font-weight-bold">
                  <strong>Hannes Vestberg</strong>
              </h5>
              <p class="grey-text">Systemutvecklare</p>

              <ul class="list-unstyled">
                  <!--LinkedIn-->
                  <a class="icons-sm lins-ic" href="https://www.linkedin.com/in/hannes-vestberg-91130b151/">
                    <i class="fa fa-linkedin-square blue-text"></i>
                </a>
              </ul>
          </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-4">
          <div class="card card-body">
              <div class="avatar mx-auto my-3">
                  <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(30).jpg" class="rounded-circle img-fluid" alt="First sample avatar image">
              </div>
              <h5 class="font-weight-bold">
                  <strong>Maria Smith</strong>
              </h5>
              <p class="grey-text">Photographer</p>

              <ul class="list-unstyled">
                  <!-- Facebook -->
                  <a class="icons-sm fb-ic">
                      <!-- <i class="fa fa-facebook blue-text"> </i> -->
                  </a>
                  <!-- Instagram -->
                  <a class="icons-sm ins-ic">
                      <!-- <i class="fa fa-instagram blue-text"> </i> -->
                  </a>
                  <!-- Dribbble -->
                  <a class="icons-sm ins-ic">
                      <!-- <i class="fa fa-dribbble blue-text"> </i> -->
                  </a>
              </ul>
          </div>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-lg-3 col-md-6 mb-4">
          <div class="card card-body">
              <div class="avatar mx-auto my-3">
                  <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(32).jpg" class="rounded-circle img-fluid" alt="First sample avatar image">
              </div>
              <h5 class="font-weight-bold">
                  <strong>Tom Adams</strong>
              </h5>

              <p class="grey-text">Backend developer</p>

              <ul class="list-unstyled">
                  <!-- Facebook -->
                  <a class="icons-sm fb-ic">
                      <!-- <i class="fa fa-facebook blue-text"> </i> -->
                  </a>
                  <!-- Github -->
                  <a class="icons-sm ins-ic">
                      <!-- <i class="fa fa-github blue-text"> </i> -->
                  </a>
              </ul>
          </div>
      </div>
      <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!--Section: Team v.1-->
  
  </div>
</section>

