<section class="padding">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="card">
                    <div class="view hm-white-slight waves-light" mdbWavesEffect>
                        <img src="{{portfolio[0].imgUrl}}" class="img-fluid z-depth-2 animated bounceIn" alt="mail signature">
                        <a><div class="mask"></div></a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{portfolio[0].name}}</h4>
                        <p class="card-text">{{portfolio[0].description}}</p>
                            <div><i class="fa fa-group fa-lg" aria-hidden="true"></i>{{portfolio[0].members}}</div>
                        <br>
                        <a class="btn btn-primary waves-light" mdbWavesEffect href="{{portfolio[0].link}}" target="_blank">Visit</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="card">
                    <div class="view hm-white-slight waves-light" mdbWavesEffect>
                        <img src="{{portfolio[1].imgUrl}}" class="img-fluid z-depth-2 animated bounceIn" alt="CompentusAB">
                        <a><div class="mask"></div></a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{portfolio[1].name}}</h4>
                        <p class="card-text">{{portfolio[1].description}}</p>
                        <div><i class="fa fa-group fa-lg" aria-hidden="true"></i>{{portfolio[1].members}}</div>
                            <br>
                        <a class="btn btn-primary waves-light" mdbWavesEffect href="{{portfolio[1].link}}" target="_blank">Visit</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="card">
                    <div class="view hm-white-slight waves-light" mdbWavesEffect>
                        <img src="{{portfolio[2].imgUrl}}" class="img-fluid z-depth-2 animated bounceIn" alt="flow monitoring">
                        <a><div class="mask"></div></a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{portfolio[2].name}}</h4>
                        <p class="card-text">{{portfolio[2].description}}</p><div>
                                <i class="fa fa-group fa-lg" aria-hidden="true"></i>{{portfolio[2].members}}
                            </div>
                            <br>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="card">
                    <div class="view hm-white-slight waves-light" mdbWavesEffect>
                        <img src="{{portfolio[3].imgUrl}}" class="img-fluid z-depth-2 animated bounceIn" alt="mobile application">
                        <a><div class="mask"></div></a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{portfolio[3].name}}</h4>
                        <p class="card-text">{{portfolio[3].description}}</p><div>
                                <i class="fa fa-group fa-lg" aria-hidden="true"></i>{{portfolio[3].members}}
                            </div>
                            <br>
                        <a class="btn btn-primary waves-light" mdbWavesEffect href="{{portfolio[3].link}}" target="_blank">Visit</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="card">
                    <div class="view hm-white-slight waves-light" mdbWavesEffect>
                        <img src="{{portfolio[4].imgUrl}}" class="img-fluid z-depth-2 animated bounceIn" alt="Card image with a tree in a middle of a lake.">
                        <a><div class="mask"></div></a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{portfolio[4].name}}</h4>
                        <p class="card-text">{{portfolio[4].description}}</p><div>
                                <i class="fa fa-group fa-lg" aria-hidden="true"></i>{{portfolio[4].members}}</div>
                            <br>
                        <a class="btn btn-primary waves-light" mdbWavesEffect href="{{portfolio[4].link}}" target="_blank">Visit</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="card">
                    <div class="view hm-white-slight waves-light" mdbWavesEffect>
                        <img src="{{portfolio[5].imgUrl}}" class="img-fluid z-depth-2 animated bounceIn" alt="Card image with a tree in a middle of a lake.">
                        <a><div class="mask"></div></a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{portfolio[5].name}}</h4>
                        <!--Text-->
                        <p class="card-text">{{portfolio[5].description}}</p>
                        <div><i class="fa fa-group fa-lg" aria-hidden="true"></i>{{portfolio[5].members}}</div>
                            <br>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="card">
                    <div class="view hm-white-slight waves-light" mdbWavesEffect>
                        <img src="{{portfolio[6].imgUrl}}" class="img-fluid z-depth-2 animated bounceIn" alt="Card image with a tree in a middle of a lake.">
                        <a><div class="mask"></div></a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{portfolio[6].name}}</h4>
                        <p class="card-text">{{portfolio[6].description}}</p>
                        <div><i class="fa fa-group fa-lg" aria-hidden="true"></i>{{portfolio[5].members}}</div>
                            <br>
                        <a class="btn btn-primary waves-light" mdbWavesEffect href="{{portfolio[6].link}}" target="_blank">Visit</a>
                    </div>
                </div>
   
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="card">
                    <div class="view hm-white-slight waves-light" mdbWavesEffect>
                        <img src="{{portfolio[7].imgUrl}}" class="img-fluid z-depth-2 animated bounceIn" alt="Card image with a tree in a middle of a lake.">
                        <a><div class="mask"></div></a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{portfolio[7].name}}</h4>
                        <p class="card-text">{{portfolio[7].description}}</p>
                        <div><i class="fa fa-group fa-lg" aria-hidden="true"></i>{{portfolio[7].members}}</div> 
                        <br>
                        <a class="btn btn-primary waves-light" mdbWavesEffect href="{{portfolio[7].link}}" target="_blank">Visit</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="card">
                    <div class="view hm-white-slight waves-light" mdbWavesEffect>
                        <img src="{{portfolio[8].imgUrl}}" class="img-fluid z-depth-2 animated bounceIn" alt="Card image with a tree in a middle of a lake.">
                        <a><div class="mask"></div></a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{portfolio[8].name}}</h4>
                        <p class="card-text">{{portfolio[8].description}}</p>
                        <div><i class="fa fa-group fa-lg" aria-hidden="true"></i>{{portfolio[8].members}}</div> 
                        <br>
                        <a class="btn btn-primary waves-light" mdbWavesEffect href="{{portfolio[8].link}}" target="_blank">Visit</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="card">
                    <div class="view hm-white-slight waves-light" mdbWavesEffect>
                        <img src="{{portfolio[9].imgUrl}}" class="img-fluid z-depth-2 animated bounceIn" alt="Card image with a tree in a middle of a lake.">
                        <a><div class="mask"></div></a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{portfolio[9].name}}</h4>
                        <p class="card-text">{{portfolio[9].description}}</p>
                        <div><i class="fa fa-group fa-lg" aria-hidden="true"></i>{{portfolio[9].members}}</div> 
                        <br>
                        <a class="btn btn-primary waves-light" mdbWavesEffect href="{{portfolio[9].link}}" target="_blank">Visit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
 
 